<?xml version='1.0' encoding='utf-8'?>
<plugin id="MobilePushPlugin" version="1.0.0">
    <name>
        MobilePushPlugin
    </name>
    <preference name="loglevel" value="DEBUG" />
    <preference name="com.salesforce.marketingcloud.app_id" value="7256466d-e795-43cb-b463-c52eb558d3a7" />
    <preference name="com.salesforce.marketingcloud.access_token" value="OhMSswpXwIX3hbTa3srzVfJ6" />
    <preference name="com.salesforce.marketingcloud.sender_id" value="534005425" />
    <preference name="com.salesforce.marketingcloud.tenant_specific_endpoint" value="https://mcjlpshq3r1zwdlw0-6n2l7dqksq.device.marketingcloudapis.com/" />
    <preference name="com.salesforce.marketingcloud.notification_small_icon" value="ic_notification" />
</plugin>